TGID	AlphaTag	Mode	Description	Encryption
1001	WashCo Disp	D	Washington County Dispatch	N
2001	Tualatin PD	D	Tualatin Police Dispatch	N
2002	Sherwood PD	D	Sherwood Police Dispatch	N
3001	TVFR Disp	D	Tualatin Valley Fire & Rescue Dispatch	N
3002	TVFR Tac 1	D	TVFR Tactical 1	N
3003	Tualatin Fire	D	Tualatin Fire Dept Operations	N
4001	WashCo SO	D	Washington County Sheriff Dispatch	N
